<!DOCTYPE html>
<html>
    <head>
        <title>Build-a-blog</title>
        <style type="text/css">
            h1 {
                text-align: center;
            }
        </style>
    </head>
    <body>
       <nav>
           <div style="float: left">
           <a href="/">Home</a> | <a href="/blog">Main Blog Page</a> | <a href="/newpost">Add a Blog Entry</a>
           </div>
           <div style="float: right">
            <a href="/login">login</a>|<a href="/logout" method ='post'>logout</a>
           </div>
       </nav>

        {% block content %}
        {% endblock %}

    </body>
</html>
